/* gerador de borda */
.elemento-com-borda{
    border: 2px solid black;
    padding: 10px;
}

/* preenchedor de fundo */
.cascata{
    background-color:lightblue;
}

#para2{
    background-color: lightgreen; /* Exemplo de Comentário */
}

.gradiente {
    font-weight: bold;
    font-size: 4rem;
    width: 400px;
    height: 300px;
    background: linear-gradient(red,yellow);
    margin: 20px 30px;
}
